.App {
  text-align: center;
  background-image: url('./wild-forest-food-seamless-random-pattern-with-orange-mushroom-doodle-elements-pink-background-vector.jpg');
  background-size: cover;
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
}

.form-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container {

}

.text-post {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

.text-post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.text-post-title {
    font-size: 18px;
    margin: 0;
}

.text-post-author {
    font-size: 14px;
    color: #888;
    margin-left: 10px;
}

.text-post-content {
    margin-bottom: 10px;
}

.text-post-footer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #888;
}

.text-post-timestamp {
    margin-right: 10px;
}

.text-post-upvotes {
    font-weight: bold;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.post-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.post-header {
  margin-bottom: 10px;
}

.post-header h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.post-header p {
  font-size: 14px;
  color: #666;
}

.post-content p {
  font-size: 16px;
  line-height: 1.5;
}
